<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find pr100_description)/urdf/pr100.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


<!-- for a correct TF tree with gridMap
  <node pkg="tf" type="static_transform_publisher" name="cloud_to_grid" args="0 0 0 0 0 0 /cloud /grid 40" />
  <node pkg="tf" type="static_transform_publisher" name="grid_to_odom" args="0 0 0 0 0 0 /grid /odom 40" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_footprint" args="0 0 0 0 0 0 /odom /footprint 40" />
-->
  


  <!-- Show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pr100_description)/launch/pr100.rviz"/>

</launch>
